.popup__container {
  position: fixed;
  top: 195px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-background-3);
  min-height: 330px;
  max-width: 430px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  color: var(--color-text-2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575px) {
  .popup__container {
    top: 123px;
    min-height: 322px;
    max-width: 282px;
    padding: 25px 22px;
  }
}
