.card__like-btn {
  flex-shrink: 0;
  border: none;
  margin-left: 30px;
  background: no-repeat url(../../../images/like.svg) center center;
  height: 19px;
  width: 22px;
  padding: 0;
  cursor: pointer;
  -ms-flex-negative: 0;
}

.card__like-btn:hover {
  opacity: 0.5;
}

.card__like-btn:active {
  background: no-repeat url(../../../images/like-active.svg) center center;
}
